In [1]:
# Elaborado por:
# Ana Mantilla : anagmd2019@gmail.com
# Paul Goyes: goyes.yesid@gmail.com
# Manuel Daza: manedaza12@gmail.com

In [ ]:
# Clonar con el repositorio de GitHub 

!git clone https://github.com/Anagabrielamantilla/ProgramacionCientifica.git

In [5]:
# Conectar con el directorio donde está la función .py

import sys
sys.path.append('/content/ProgramacionCientifica/Clasificacion_suelos')

In [6]:
# Importar las funciones como módulos

from class_suelos import clasificacion
from class_suelos import suelos_finos
import pandas as pd

In [7]:
# Importar datos

df = pd.read_excel('/content/ProgramacionCientifica/Clasificacion_suelos/suelos.xlsx')

In [8]:
df

  SUELO  GRAVA  ARENA  FINOS   CU   CC    LL     IP
0    S1      0     55     45  3.0  1.0  35.0  21.00
1    S2      2     43     55  2.0  5.0  10.0  70.00
2    S3      3     37     60  8.0  7.0  48.0   6.00
3    S4      0     42     58  7.0  3.0  50.0  55.00
4    S5      7     20     73  6.0  2.0  32.6   4.58
5    S6      2     39     59  1.0  1.5   8.0  44.00
6    S7      1     37     62  1.9  6.0  12.0   2.10
7    S8      0     22     78  5.5  6.5  22.0  80.00

In [9]:
help(suelos_finos)

Help on function suelos_finos in module class_suelos:

suelos_finos(grava, arena, finos, PI, LL)
    Función para clasificar los suelos
    de grano fino según el sistema de
    clasificación unificado. Tomado de Bras
    (7ma edición, pág 23)

    grava : porcentaje de material tamaño grava
    arena : porcentaje de material tamaño arena
    finos : porcentaje de material tamaño fino
    PI: índice de plasticidad
    LL: límite líquido

In [10]:
suelos_finos(25,9,40,50,10)

'Arcilla fina gravosa CL'

**Definamos una función de mapeo**

In [13]:
def numbers(grava, arena, finos, IP, LL):
  a = []
  for i in range(len(grava)):
    a.append(suelos_finos(grava[i], arena[i], finos[i], IP[i], LL[i]))
  return a

In [14]:
df.head(2)

  SUELO  GRAVA  ARENA  FINOS   CU   CC    LL    IP
0    S1      0     55     45  3.0  1.0  35.0  21.0
1    S2      2     43     55  2.0  5.0  10.0  70.0

In [15]:
df['clasificación'] = numbers(df['GRAVA'], df['ARENA'], df['FINOS'], df['IP'], df['LL'])

In [16]:
df

,SUELO,GRAVA,ARENA,FINOS,CU,CC,LL,IP,clasificación
0,S1,0,55,45,3.0,1.0,35.0,21.00,Arcilla fina arenosa CL
1,S2,2,43,55,2.0,5.0,10.0,70.00,Arcilla fina arenosa CL
2,S3,3,37,60,8.0,7.0,48.0,6.00,Arcilla arenosa-limosa CL-ML
3,S4,0,42,58,7.0,3.0,50.0,55.00,Arcilla gruesa o limo elástico
4,S5,7,20,73,6.0,2.0,32.6,4.58,Arcilla arenosa-limosa CL-ML
5,S6,2,39,59,1.0,1.5,8.0,44.00,Arcilla fina arenosa CL
6,S7,1,37,62,1.9,6.0,12.0,2.10,Limo arenoso ML
7,S8,0,22,78,5.5,6.5,22.0,80.00,Arcilla fina arenosa CL

**¿Qué pasaría si no todos los elementos tienen la misma longitud?**

In [17]:
df['GRAVA']

0    0
1    2
2    3
3    0
4    7
5    2
6    1
7    0
Name: GRAVA, dtype: int64

In [18]:
df['GRAVA'][2:]

2    3
3    0
4    7
5    2
6    1
7    0
Name: GRAVA, dtype: int64

In [19]:
numbers(df['GRAVA'][2:], df['ARENA'], df['FINOS'], df['IP'], df['LL'])

KeyError: ignored

**¿Cómo añadir este error en la función?**

In [20]:
def numbers(grava, arena, finos, IP, LL):
  a = []
  if len(grava)==len(arena)==len(finos)==len(IP)==len(LL):
   for i in range(len(grava)):
       a.append(suelos_finos(grava[i], arena[i], finos[i], IP[i], LL[i]))   
   return a
  else: 
    raise Exception("ERROR: Verifique que todas sus variables sean de la misma longitud")

In [21]:
df['clasificación'] = numbers(df['GRAVA'][2:], df['ARENA'], df['FINOS'], df['IP'], df['LL'])

Exception: ignored